{
   "jsonrpc": "2.0",
   "method": "httptest.create",
   "params": {
      "name": "{{item.name}}",
      "hostid": "{{item.zabbix_host.hostid}}",
      "applicationid": "{{item.zabbix_host.applicationid}}",
      "delay": "{{zabbix_web_check_interval}}",
      "retries": "{{zabbix_web_check_retries}}",
      "agent": "{{zabbix_web_check_ua}}",
      {% if item.auth is defined %}
      "authentication": 1,
      "http_user": "{{item.auth.http_user}}",
      "http_password": "{{item.auth.http_password}}",
      {% endif %}
      {% if item.url.startswith('https://') %}
        {% if item.ssl_verify_peer is not defined or item.ssl_verify_peer != 'no' %}
      "verify_peer": 1,
        {% endif %}
        {% if item.ssl_verify_host is not defined or item.ssl_verify_host != 'no' %}
      "verify_host": 1,
        {% endif %}
      {% endif %}
      "steps": [
         {
            "name": "{{ item.name  }} URL",
            "url": "{{item.url}}",
            "status_codes": "{{item.status_codes|default('200')}}",
            "retrieve_mode": "{% if item.method == 'GET' %}0{% else %}1{% endif %}",
            {% if item.required is defined %}
            "required": "{{item.required}}",
            {% endif %}
            "no": 1
         }
      ]
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
