{
   "jsonrpc": "2.0",
   "method": "trigger.create",
   "params": {
      "description": "{{item.name}} too slow",
      "expression": "{% raw %}{{% endraw %}{{item.zabbix_host.name}}:web.test.time[{{item.name}},{{item.name}} URL,resp].min({{ item.watch_window }})}>{{ item.slow_threshold }}",
      "priority": {{ zabbix_web_check_slow_trigger_priority }},
      "url": "{{item.url}}",
      {% if item.trigger_tags is defined %}
      "tags": [
      {% for k,v in item.trigger_tags.iteritems() %}
         {
            "tag": "{{k}}",
            "value": "{{v}}"
         },
      {% endfor %}
      ]
      {% endif %}
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
