{
   "jsonrpc": "2.0",
   "method": "host.get",
   "params": {
      "filter": {
         "name": "{{zabbix_web_check_host}}"
      },
      "selectApplications": "extend",
      "output": [
         "httptestid",
         "selectApplications",
      ]
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
